// out: style.css, sourcemap: true, compress: false
breakpoint4 = 600px
breakpoint3 = 700px
breakpoint2 = 870px
breakpoint1 = 1000px
blue = #363ED3
middleblue = #B6C6FF
lightblue = #00E1FF
blue50 = #80F0FF
blue25 = #C0FBFF
blue10 = #E9FDFF
pink = #FFB6C9
lightpink = #FFDCE7
grey = #E6E6E6
lightgrey = #F2F2F2
green = #3ACAAC
green50 = #9CE2D1

@font-face
  font-family 'HK Grotesk'
  src: url('fonts/hkgrotesk-regular-webfont.woff') format('woff'),
       url('fonts/HKGrotesk-Regular.otf') format('truetype');
  font-style normal
  font-weight normal
  text-rendering optimizeLegibility

@font-face
  font-family 'HK Grotesk'
  src: url('fonts/hkgrotesk-medium-webfont.woff') format('woff'),
       url('fonts/HKGrotesk-Medium.otf') format('truetype');
  font-style bold
  font-weight 500
  text-rendering optimizeLegibility
  
@font-face
  font-family 'HK Grotesk'
  src: url('fonts/hkgrotesk-bold-webfont.woff') format('woff'),
       url('fonts/HKGrotesk-Bold.otf') format('truetype');
  font-style bold
  font-weight bold
  text-rendering optimizeLegibility

titletext(font-size=50px,line-height=45px)
  font-family 'HK Grotesk'
  font-size font-size
  line-height line-height
  font-weight bold

bodytext(font-size=18px,line-height=28px,font-weight=normal)
  font-family 'HK Grotesk'
  font-size font-size
  line-height line-height
  font-weight font-weight

tagtext(font-size=12px,font-weight=bold,line-height=14px,text-transform=none)
  font-family 'HK Grotesk'
  text-transform text-transform
  font-size font-size
  line-height line-height
  letter-spacing 0.5px
  font-weight font-weight

*
  box-sizing border-box
  padding 0
  margin 0

body
  bodytext()
  width 100%

a, a:hover, a:visited, a:active
  color blue

h1
  titletext()

h2
  titletext(40px,50px)
h3
  titletext(19px,27px,auto)
h4
  tagtext(,,,uppercase)
  margin-top 25px
  margin-bottom 5px

.menu
  display flex
  width 100%
  list-style-type none
@media only screen and (max-width:breakpoint4)
  .menu
    display block
    
.menu-items
  display flex
  align-items center
  justify-content center
  
.menu-item
  margin 5px 5px 5px 40px
  position relative
  ul
    cursor pointer
  &:hover
    &:after
      position absolute
      content ''
      background-image: embedurl("../../../wp-content/themes/wpex-starter-theme-master/images/swash-06.svg", "utf8");        
      background-position left
      background-size cover
      top 7px
      pointer-events none
      left calc(50% - 35px)
      background-repeat no-repeat
      mix-blend-mode multiply
      height 20px
      width 70px
  
@media only screen and (max-width:breakpoint4)
  .menu-items
    display none

@media only screen and (max-width:breakpoint4)
  .menu-item
    margin 0px
    &:hover
      &:after
        background-image none

.menu-wrapper
  position fixed
  top 0px
  left 0px
  width 100%
  z-index 101  
  transition all 0.5s  
  
.menu-wrapper-active
  left 70vw
  
.main-menu
  background-color transparent
  justify-content space-between
  align-items center
  padding 5px 10px
  display flex
  height 60px
  box-sizing border-box
  width 100%
  max-width 1180px
  margin 0 auto 
  top 0
  left 0
  a
    color black
    text-decoration none
    tagtext()
    transition all 0.5s
    &:hover
      color blue
    img
      height 40px
      margin auto
      display none
@media only screen and (max-width:breakpoint4)
  .main-menu
    padding 15px  
  
.menu-wrapper.active
&.single .menu-wrapper
&.page-template-shops .menu-wrapper
  box-shadow 0px 0px 5px 0px rgba(0,0,0,0.3)
  background-color white
  .main-menu
    img
      display block
    a
      color black
      &:hover
        color blue

.filter-button-active
  background-color grey
   
#menu-filter-button
  display none
  width 30px
  height 25px
  position relative
  overflow hidden
  svg 
    position absolute
    top 0px
    opacity 1
    transition all 0.5s
  span
    position absolute
    border-radius 3px
    height 2px
    background-color black
    transition all 0.5s
  #filter-line-1
    top 6px
    left 0px!important
    width 19px
    transform rotate(-135deg)
  #filter-line-2
    top 6px
    left 13px
    width 19px
    transform rotate(135deg)
  #filter-line-3
    top 11px
    width 4px!important
    left 14px
    height 40%!important
  #filter-line-4
    top 0px
    width 27px
    left 2px
    border-radius 0px!important
    display none

@media only screen and (max-width:breakpoint4)
  .home
    #menu-filter-button
      display flex
          
.menu-filter-button-active
  svg
    top -25px!important
    opacity 0
    fill blue
  span
    background-color blue!important
  #filter-line-1
    transform rotate(-45deg)!important
    top 10px!important
  #filter-line-2
    transform rotate(45deg)!important    
    top 10px!important
  #filter-line-3
    top -25px!important
  #filter-line-4
    top -3px!important

.page-template
  #menu-filter-button
    display none    
    
#menu-toggle-button
  display none
  width 25px
  height 18px
  position relative
  span
    position absolute
    border-radius 15px    
    height 2px
    width 100%
    background-color black
    transition all 0.5s
  #menu-line-1
    top 0px
  #menu-line-2
    top 8px
  #menu-line-3
    top 16px
  
@media only screen and (max-width:breakpoint4)
  #menu-toggle-button
    display block
    
.menu-toggle-button-active
  span
    background-color blue!important
  #menu-line-1
    top 3px!important
    left 14px
    width 60%
    transform rotate(45deg)
  #menu-line-3
    width 60%
    left 14px
    top 13px!important
    transform rotate(-45deg)
  
#menu-logo
  height 40px

.hide-menu-logo
  display none
  
#menu-filter-heading
  display none
  bodytext(18px,,bold)
  
.menu-filter-heading-active
  display block!important

.social-icons
  margin-left 35px
  position relative
  &:hover
    &:after
      position absolute
      content ''
      background-image: embedurl("../../../wp-content/themes/wpex-starter-theme-master/images/swash-06.svg", "utf8");        
      background-position left
      background-size contain
      top 0px
      pointer-events none
      left calc(50% - 12px)
      background-repeat no-repeat
      mix-blend-mode multiply
      height 20px
      width 25px
  
    
.facebook
  cursor pointer
  width 15px
  height 15px
  margin-top 2px
  background-size contain
  background-image embedurl("../../../wp-content/themes/wpex-starter-theme-master/images/facebook.svg", "utf8");  
  &:hover
    background-image embedurl("../../../wp-content/themes/wpex-starter-theme-master/images/facebook-blue.svg", "utf8");  

.social-icons-mobile
  position absolute
  bottom 20px
  left 20px
  img
    width 20px
    
.index-header
  background-color white
  text-align center
  width 100%

.site-title-description
  display block
  margin-top 3px
  margin-bottom 50px
  tagtext(,normal)

.index-header-logo
  display block
  img
    width 360px
    margin 140px auto 30px 
@media only screen and (max-width:breakpoint4)
  .index-header-logo
    img
      width 70%
      margin-top 60px      
    padding-top 15px
      
.index-about-text
  width 100%
  bodytext(21px,28px)
  padding 30px 
  margin 0px auto 0px
  text-align center
  box-sizing border-box
  color black
  span
    font-weight bold
  a
    color blue
@media only screen and (max-width:breakpoint3)
  .index-about-text
    bodytext(19px,27px)
    br
      display none

@media only screen and (max-width:breakpoint4)
  .about-text
    bodytext(16px,23px)

#about-header
  background-image: embedurl("../../../wp-content/themes/wpex-starter-theme-master/images/header_01.svg"); 
  background-size cover
  background-position top center
  background-repeat no-repeat
  position relative
  width 100%
  height 350px
  
.brand-header
  position relative
  height 70vh
  overflow hidden
  margin-top 55px
  display flex
  background-size cover
  background-position center center  
  background-repeat no-repeat
  img
    width 100%
    height 100%
    

@media only screen and (max-width:breakpoint3)
  .brand-header
    height 50vh
    width 100%

.brand-page-title
  background-color transparent
  width 100%
  padding 0px 30px 30px 0px
  box-sizing border-box
  text-align left
  text-overflow ellipsis
  overflow hidden  
  white-space nowrap
  h1
    titletext(65px,65px)    

@media only screen and (max-width:breakpoint3)
  .brand-page-title
    padding 20px
    margin-left -20px
    margin-bottom 30px
    width calc(100% + 40px)
    background-color blue25    
    h1
      titletext(50px,50px)

#brand-page-tag
  position absolute
  left 30px
  top 30px  
  height 25px
  text-align left
  width auto
  padding 5px
  max-width auto
  background-color blue50
  &:before
    content ''
    position absolute
    margin-top -5px
    width 100%
    height 25px
    background-repeat no-repeat
    background-image: embedurl("../../../wp-content/themes/wpex-starter-theme-master/images/swash-end.svg", "utf8");        
    background-position right
    background-size contain
  &:after
    background-image: embedurl("../../../wp-content/themes/wpex-starter-theme-master/images/swash-beginning.svg", "utf8");        
    background-position left
    background-size contain
    height 25px
    margin-top -19px
    margin-left -10px
    //background-image none
@media only screen and (max-width:breakpoint3)
  #brand-page-tag
    top -35px
    
.brand-wrapper
  margin auto
  max-width 1080px
  padding 40px
  position relative
  margin-top -80px

@media only screen and (max-width:breakpoint3)
  .brand-wrapper
    display block
    padding 0px 20px 
    margin-top 0px

.brand-introduction
  display flex
  flex-wrap wrap  
  margin-bottom 100px

@media only screen and (max-width:breakpoint3)
  .brand-introduction
    display block
    margin-bottom 0px
    
.brand-information
  flex 2.5
  width 100%
  padding 90px 0px 0px
  bodytext(23px,34px)

@media only screen and (max-width:breakpoint3)
  .brand-information
    display block
    padding-top 0px
    bodytext(21px,30px)
    
.brand-introduction-text
  margin-right 75px

@media only screen and (max-width:breakpoint2)
  .brand-introduction-text
    margin-right 0px

.brand-metadata
  background-color blue10
  flex 1
  display flex
  flex-direction column
  justify-content flex-end
  a
    text-decoration none

@media only screen and (max-width:breakpoint2)
  .brand-metadata
    flex none
    width 100%
    margin-top 40px

.brand-metadata-wrapper
  &:last-of-type
    margin-bottom 35px
  padding 0px 20px
  h4
    margin-bottom 10px

@media only screen and (max-width:breakpoint2)
  .brand-metadata-wrapper
    display flex
    flex-direction row
    justify-content space-between

@media only screen and (max-width:breakpoint3)
  .brand-metadata-wrapper
    display flex
    flex-direction column
    justify-content space-between
    
.brand-button
  width 100%
  height 60px
  background-color blue
  color white
  border 0
  padding 24px
  //box-shadow 0px 0px 4px 0px rgba(0,0,0,0.3)
  cursor pointer
  display flex
  justify-content space-between
  tagtext(16px,normal)
  box-sizing border-box
  text-decoration none
  position relative
  img
    height 15px
    margin-left 5px
  a
    text-decoration none
  &:after
      background-repeat no-repeat
      width 20px
      height 20px
      position absolute
      right 20px
      top 20px
      content ""
      background-size cover 
  &#button-map
    background-color grey   
    color black 
    &:after
      background-image url(images/icon-arrow-black.svg)

.brand-button-form
  input
    &:after
      background-image url(images/icon-link-white.svg)

#button-webshop
  &:after
    background-image url(images/icon-link-white.svg)

@media only screen and (max-width:breakpoint2)
  .brand-button-form, #button-map
    width 50%

@media only screen and (max-width:breakpoint4)
  .brand-button
    width 100%
    
.brand-button:hover, #button-map:hover
  transition 0.3s
  background-color black
  color white
  &:after
    background-image url(images/icon-arrow-white.svg)  

.brand-button-wrapper
  margin-top 40px

@media only screen and (max-width:breakpoint2)
  .brand-button-wrapper
    display flex

@media only screen and (max-width:breakpoint4)
  .brand-button-wrapper
    display block
    
.brand-page-header
  margin 75px 0px 25px

@media only screen and (max-width:breakpoint3)
  .brand-page-header
    margin 45px 0px 25px
    h2
      titletext(35px)

.brand-content
  display flex
  flex-wrap wrap
  justify-content space-between  

// @media only screen and (max-width:breakpoint3)
//   .brand-content
//     //display block

.brand-content-labels
  width calc(50% - 10px)
  display flex
  align-items center
  flex-direction column
  flex-wrap wrap
  background-color blue10
  margin 25px 0px 0px
  padding 20px
  //border-radius 5px
  h4
    margin-top 0px

@media only screen and (max-width:breakpoint4)
  .brand-content-labels
    width 100%
    margin 0px 0px 25px
    &:last-of-type
      margin 0px

.labels-text
  flex 4
  -webkit-flex 4
  p
    margin-top 20px
    &:first-of-type
      margin-top 0px
  h4 
    text-align left
    margin-bottom 10px

.labels-image 
  text-align center
  height 80px
  margin 20px auto 30px
  img
    width 100%
    height 100%

#brand-story
  p
    max-width 700px

@media only screen and (max-width:breakpoint3)
  .brand-content-story
    flex none
    -webkit-flex none
    -ms-flex none
    width 100%
    margin-right 0px

.brand-content-story-empty
  flex 1
  -webkit-flex 1
  -ms-flex 1
  flex-shrink 0

// #label-fair
//   background-image: embedurl("../../../wp-content/themes/wpex-starter-theme-master/images/icoon-fair-mobile.svg", "utf8");
// #label-sustainable
//   background-image: embedurl("../../../wp-content/themes/wpex-starter-theme-master/images/icoon-sustainable-mobile.svg", "utf8");
// #label-vegan
//   background-image: embedurl("../../../wp-content/themes/wpex-starter-theme-master/images/icoon-vegan-mobile.svg", "utf8");
// #label-eu
//   background-image: embedurl("../../../wp-content/themes/wpex-starter-theme-master/images/icoon-eu-mobile.svg", "utf8");
  

.filter-section
  width 100%
  margin 40px 0px
  z-index 100
  position relative
@media only screen and (max-width:breakpoint4)
  .filter-section
    position fixed
    top 60px
    left 0
    margin 0
    display inline-block
  #filter-labels
    display none      
  
.filter-dropdown
  box-sizing border-box
  tagtext(,bold,,capitalize) 
  ul
    display flex
    align-items center
    flex-wrap wrap
  input
    tagtext(,bold,,capitalize)  
    height 45px
    border 0px
    background-color white
    color blue
    text-align center     
    cursor pointer 
  input[type=checkbox]
    width 20px
    height 20px
    margin-right 20px
    appearance none
    -moz-appearance none
    -webkit-appearance none
    -o-appearance none
    -ms-appearance none
    background-color white
    border 0px solid blue
    position relative
    border-radius 2px
    &:after
      position absolute
      top 3px
      left 3px
      right 3px
      bottom 3px
      content ''      
      background-image: none;      
      background-size cover     
  input[type=submit]
    justify-content center
    align-items center 
    background-color blue
    height 55px
    width 150px
    color white
    border-radius 5px        
    margin-top 15px
  input[type=checkbox]:checked 
    &:after
      position absolute
      top 3px
      left 3px
      right 3px
      bottom 3px
      content ''
      background-image: embedurl("../../../wp-content/themes/wpex-starter-theme-master/images/icon-cross-black.svg", "utf8");    
      background-repeat no-repeat
      background-size cover
      background-position center center         
  label
    background-color grey     
    min-width 125px
    display flex
    align-items center
    justify-content space-between
    border-radius 5px
    box-shadow 0px 1px 0px 0px rgba(0,0,0,0.2)        
    padding 0px 15px
    height 55px
    cursor pointer
    margin-top 15px
@media only screen and (max-width:breakpoint4)
  .filter-dropdown
    color blue
    box-shadow 0px 3px 3px 0px rgba(0,0,0,0.2)
    ul
      width 100%    
      background-color white      
      display inline-block   
      &:first-of-type   
        li
          label
            padding 10px 0px 20px
      li
        display block
        padding 10px 20px 20px
        ul
          li
            padding 5px 0px 10px      
    label
      margin 0px
      height 70px      
      justify-content flex-start
      background-color white
      //border-bottom 1px solid rgba(0,0,0,0.1)        
      border-radius 0px
    input[type=submit]
      width 100%
      background-color blue
      color white
      height 70px
      margin-top 0px
    input[type=checkbox]
      width 25px
      height 25px
      border 1px solid blue
      background-color white
      &:after
        background-image none
    input[type=checkbox]:checked
      &:after
        background-image: embedurl("../../../wp-content/themes/wpex-starter-theme-master/images/icon-cross-blue.svg", "utf8");     

.filter-dropdown-active
  background-color middleblue!important
  box-shadow inset 0px 2px 0px 0px rgba(0,0,0,0.05)!important

.content-wrapper
  display flex
  flex-wrap wrap
  justify-content space-between
  margin auto
  max-width 1200px
  padding 10px

.page-wrapper
  width 100%
    
#shops-page-wrapper
  width 100%
  height 100%
  position relative
  background-color blue25

.shops-page-about-text
  bodytext(21px,28px,bold)
  text-align center
  width 100%
  margin auto
  padding 100px 0px 40px
  z-index 2
  position relative

@media only screen and (max-width:breakpoint4)  
  .shops-page-about-text
    text-align left
    padding 100px 20px 40px

  
.brand-tile
  width calc(32.5%)
  position relative
  margin 0px 0px 20px 0px
  transition all 0.5s
  a
    color white
    text-decoration none    
  &:hover,&:active
    .brand-tile-title
      background-color blue
    .brand-tile-thumbnail
      background-color white
    img
      opacity 0.2
      filter grayscale(1)
    .brand-thumbnail-labels-section
      visibility visible
      pointer-events none
      opacity 1
      img
        opacity 1
        mix-blend-mode normal    

@media only screen and (max-width:breakpoint1)
  .brand-tile
    width 49%
    margin 0px 0px 30px 0px    

@media only screen and (max-width:breakpoint4)
  .brand-tile
    width 100%
    margin 0px 0px 30px 0px

.brand-application
  width 100%
  height 100%
  min-height 400px
  background-color blue
  text-align center
  position absolute
  cursor pointer
  &:hover,&:active
    background-color blue25
    color black
    p
      color black
    img
      background-color white  
      opacity 1
      border 3px solid white
      mix-blend-mode normal
  p
    padding-top 150px
    bodytext(24px,,bold)
    color white
  img
    transition all 0.5s
    margin-top 50px
    width 40px
    height 40px
    border 3px solid white
    padding 18px
    box-sizing content-box
    border-radius 100px
    
@media only screen and (max-width:breakpoint4)
  .brand-application
    position relative
    height 450px

.brand-tile-thumbnail
  width 100%
  max-height 460px
  margin 0
  position relative
  overflow hidden
  background-color grey
  cursor pointer
  transition all 0.5s
  img
    transition background-color 0.5s   
    width 105%
    height 105%

@media only screen and (max-width:breakpoint4)
  .brand-thumbnail
    max-height 400px
    img
      width 100%
      height 100%

.brand-tile-tag
  tagtext(,,,uppercase)
  padding 10px
  position absolute
  left calc(50% - 150px)
  text-align center
  bottom 0px
  width 100%
  max-width 300px
  height 30px
  box-sizing border-box
  &:after
    content ''
    display block
    margin-top -20px
    width 100%
    height 30px
    background-image: embedurl("../../../wp-content/themes/wpex-starter-theme-master/images/swash-07.svg", "utf8");    
    background-repeat no-repeat
    background-position center 
    background-size contain
  a
    color black
    text-decoration none
    cursor auto

.brand-tile-title
  titletext(45px,35px)    
  padding 21px 18px 27px
  background-color blue25
  white-space nowrap
  text-overflow ellipsis
  overflow hidden
  transition all 0.5s
  text-align center
  a
    color black
    text-decoration none  

.brand-thumbnail-labels-section
  display flex
  visibility hidden
  opacity 0
  transition visibility 0s, opacity 1s
  flex-direction column
  width 100%
  position absolute
  top 20%
  tagtext(,bold,,uppercase)
  img
    width 35px
    max-height 35px
    margin-right 15px
  hr
    border-top: 1px solid blue;
    width 100px
    position relative
    top 55px
    left calc(50% - 50px)

.brand-thumbnail-label-wrapper
  height 35px
  display flex
  align-items center
  justify-content center
  flex-direction column
  padding 45px
  &:last-of-type
    hr
      display none
      
.brand-thumbnail-label
  display flex  
  align-items center  

.label_information_button
  input
    position fixed
    bottom 40px
    right 40px
    width 50px
    height 50px
    background-color blue
    color white
    font-size 20px
    border-radius 100px
    border 0px
    text-align center
    box-shadow 0px 0px 3px 1px rgba(0,0,0,0.3)

#label_information
  display none
  position fixed
  background-color white
  bottom 120px
  right 40px
  width 200px
  box-shadow 0px 0px 3px 1px rgba(0,0,0,0.3)
  &::before
    transform rotate(45deg)
    width 20px
    box-shadow 0px 0px 3px 1px rgba(0,0,0,0.3)
    background-color white
    height 20px
    bottom -10px
    content ""
    position absolute
    right 15px
  &::after
    background-color white
    height 15px
    bottom 0px
    left 0px
    right 0px
    content ""
    position absolute
  p
    height 40px
    padding 0px 15px
    display flex
    align-items center
    &:first-of-type
      background-color pink
      color black
      letter-spacing 0.5px
      font-weight bold
      padding-top 5px
    &:last-of-type
      margin-bottom 5px
  img
    width 20px
    margin-right 10px

.page-content
  max-width 720px
  background-color rgba(255,255,255,0.95)
  margin auto
  z-index 30
  padding 20px
  bodytext()
  p 
    margin-top 20px
  #page-introduction
    bodytext(27px,38px,bold)
    margin 50px 0px 30px
  img
    border-radius 100px
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    width 200px
    height 200px
    padding 10px
    box-sizing border-box
    margin-top 20px
  h1
      margin 50px auto 25px    
  h2
    margin 40px 0px 20px
    
.form10 
  .wdform-element-section
  .wdform-label-section
  .wdform-field
  .wdform_column
  .wdform_section
    width 100%!important
  .wdform_footer    
    display none
  .wdform_page
    padding 0px!important
    background-color transparent!important
  .wdform-label
    tagtext(,,,uppercase)
  .wdform_row
    margin-top 20px
    &:first-of-type
      margin-top 0px
  .wdform-ch-rad-label
    bodytext()
  .wdform-element-section
    input[type=text]
      bodytext(19px)!important
      border-radius 5px
      padding 3px 10px!important
      width 100%important
      height 40px
      background-color white
      border 0
  margin 30px 0px 10px
  .button-submit
    font-family HK Grotesk!important
    justify-content center
    align-items center 
    background-color blue!important
    height 55px
    width 150px
    color white
    border-radius 5px        
    margin 0px!important
  .wdform-field
    padding 0px!important
    display block!important
  .fm-not-filled
    font-family HK Grotesk  
    color white
  .wdform-required
    display none
  .wdform-page-and-images
    padding 0px!important
    input[type=checkbox]
      width 25px
      height 25px
      appearance none
      -moz-appearance none
      -webkit-appearance none
      -o-appearance none
      -ms-appearance none
      background-color white
      border 0px solid blue
      position relative
      border-radius 2px
      &:after
        position absolute
        top 5px
        left 5px
        right 5px
        bottom 5px
        content ''      
        background-image: none;      
        background-size cover 
    input[type=checkbox]:checked 
      &:after
        position absolute
        top 5px
        left 5px
        right 5px
        bottom 5px
        content ''
        background-image: embedurl("../../../wp-content/themes/wpex-starter-theme-master/images/icon-cross-black.svg", "utf8");    
        background-repeat no-repeat
        background-size cover
        background-position center center       

#brand-application-section
  background-color green
  padding 30px
  margin 10px auto 40px
  h2
    margin-top 0px
    
#faq-section
  width 100%
  background-color blue10
  padding 50px
  .page-content
    background-color transparent   
   
@media only screen and (max-width:breakpoint3)
  #faq-section
    padding 0px 0px 40px

.brand-map-title
  width 100%
  margin-top 40px
  
.brand-map
  width 100%
  height 70vh
  overflow hidden
  background-color blue
  pointer-events none
@media only screen and (max-width:breakpoint3)
  .brand-map
    height 50vh
    
.shops-map
  width 100%
  height 600px
  margin 0 auto
  z-index 1
  position relative
@media only screen and (max-width:breakpoint3)
  .shops-map
    width 100%

.no-filter-results
  text-align center
  width 100%
  height 500px
  padding 20px
  margin-top 50px
  box-sizing border-box
  bodytext(21px,28px,bold)
@media only screen and (max-width:breakpoint4)
  margin-top 0px
  
#mobile-menu-slideout-panel
  display none
  height 100%
  width 0
  position fixed
  z-index 1000
  top 0
  left 0
  overflow-x hidden
  z-index 200
  transition .5s
  background-color blue
  text-align left
  box-sizing border-box
  margin-left 0
  bodytext(20px)
  ul
    li
      border-bottom 1px solid rgba(255,255,255,0.3)
      padding 25px 20px
      box-sizing border-box
      height 80px
  a
    color white
    text-decoration none    
    width 200px
    display block
    transition 0.3s

@media only screen and (max-width:breakpoint4)
  #mobile-menu-slideout-panel
    display block
    
.website-wrapper
  overflow-x hidden
  width 100%
  transition all 0.5s  

@media only screen and (max-width:breakpoint4)
  .website-wrapper-active
      margin-left 70vw
      width 100%
      overflow hidden

.mobile-menu-slideout-panel-active
  width 70vw!important
  transition all .5s

.footer-content
  display flex
  align-items flex-start
  max-width 1180px
  margin 0 auto 
  
footer
  background-color lightgrey
  color black
  width 100%
  height 100%
  padding 50px 50px 75px
  bodytext(16px,26px)
  h4
    margin-bottom 15px
    margin-left 10px
    position relative
    &:after
      position absolute
      content ''
      background-image: embedurl("../../../wp-content/themes/wpex-starter-theme-master/images/swash-06.svg", "utf8");        
      background-position left
      background-size contain
      top -10px
      left -10px
      background-repeat no-repeat
      mix-blend-mode multiply
      cursor pointer
      height 35px
      width 90px
  a
    color black!important
  .footer-content-section
    margin-right 50px
    flex 1   
    &:last-of-type
      margin-right 0px
    &:first-of-type
      flex 1
      //margin-top 30px
    img
      width 150px
      margin-top 20px
  span
    font-weight bold
    
@media only screen and (max-width:breakpoint3)
  .footer-content
    flex-direction column
  .footer-content-section
    &:first-of-type
      margin 15px auto
  footer
    padding 40px 20px
    div
      padding 0px
      &:first-of-type
        margin auto
        img
          width 200px
          

.wpgmza_table_marker
  display none 

.sorting, .dataTables_length, .dataTables_filter
  display none
  
.wpgmza_table_title  
  font-weight bold
  