// out: style.css, sourcemap: true, compress: false
breakpoint4 = 600px
breakpoint3 = 700px
breakpoint2 = 870px
breakpoint1 = 1100px
blue = #363ED3
lightblue = #EAEBFF
pink = #FFEAEF
grey = #E6E6E6

@font-face
  font-family 'HK Grotesk'
  src: url('fonts/hkgrotesk-regular-webfont.woff') format('woff'),
       url('fonts/HKGrotesk-Regular.ttf') format('truetype');
  font-style normal
  font-weight normal
  text-rendering optimizeLegibility

@font-face
  font-family 'HK Grotesk'
  src: url('fonts/hkgrotesk-bold-webfont.woff') format('woff'),
       url('fonts/HKGrotesk-Bold.ttf') format('truetype');
  font-style bold
  font-weight bold
  text-rendering optimizeLegibility

titletext(font-size=50px,line-height=45px,text-transform=uppercase)
  text-transform text-transform
  font-size font-size
  line-height line-height

bodytext(font-size=18px,line-height=28px,font-weight=normal)
  font-family 'HK Grotesk'
  font-size font-size
  line-height line-height
  font-weight font-weight

tagtext(font-size=12px,font-weight=bold,line-height=14px,text-transform=uppercase)
  text-transform text-transform
  font-size font-size
  line-height line-height
  letter-spacing 0.5px
  font-weight font-weight

*
  padding 0
  margin 0

body
  bodytext()
  width 100%

a, a:hover, a:visited, a:active
  color blue

h1
  titletext()

h2
  titletext(40px,35px)
  &.post-title
    a
      color black
      text-decoration none

h3
  titletext(30px,40px,auto)
  margin-top 50px

h4
  tagtext(14px)
  margin-top 25px

.button_wrapper
  width 100%
  min-width 250px
  background-color blue
  color white
  border 0
  padding 24px
  tagtext(16px,normal)
  box-shadow 0px 0px 4px 0px rgba(0,0,0,0.3)
  cursor pointer

@media only screen and (max-width:breakpoint3)
  .button_wrapper
    margin-top 20px
    width calc(100vw - 60px)

#button_shops_on_map
  margin 20px 0px 0px
  background-color #FFADC3

.button_wrapper:hover, #button_shops_on_map:hover
  transition 0.3s
  background-color black

.menu
  display flex
  width 100%
  list-style-type none

.menu-item
  margin 5px 10px

.main-navigation
  background-color white
  justify-content center
  align-items center
  padding 5px 20px
  display flex
  height 60px
  box-sizing border-box
  position fixed
  z-index 100
  box-shadow 0px 0px 5px 0px rgba(0,0,0,0.5)
  width 100%
  top 0
  left 0
  a
    color black
    text-decoration none
    tagtext(12px,bold,,capitalize)
    flex 1
    img
      height 40px
      margin-right auto

.site-title
    text-align center
    img
      margin 80px auto 20px 

.site-title-description
  display block
  margin-top 3px
  margin-bottom 50px
  tagtext(,normal)

.site-title-logo
  margin-top 50px
  display block
  margin-bottom 10px
  img
    width 320px

.brand-header
  position relative
  max-height 70vh
  overflow hidden
  img
    width 100%
    height 100%

@media only screen and (max-width:breakpoint3)
  .brand-header
      max-height 90vh

.brand-title
  background-color white
  padding 15px
  position absolute
  top -110px
  left 25px
  min-width 250px
  box-sizing border-box
@media only screen and (max-width:breakpoint3)
  .brand-title
    width 100%
    position absolute
    left 0px
    top -70px
    background-color grey

#post-tag-single
  top -27px
  bottom auto
  background-color pink

.brand-wrapper
  display flex
  flex-wrap wrap
  margin auto
  max-width 1000px
  position relative
  padding 60px 25px

@media only screen and (max-width:breakpoint3)
  .brand-wrapper
    display block
    padding 40px 25px

.brand-introduction
  display flex
  flex-wrap wrap

@media only screen and (max-width:breakpoint3)
  .brand-introduction
    display block

.brand-introduction-buttons
  flex 1
  -webkit-flex 1
  -ms-flex 1
  display flex
  flex-wrap wrap
  justify-content flex-start
  align-items center

@media only screen and (max-width:breakpoint3)
  .brand-introduction-buttons
    justify-content space-between

.brand-introduction-text
  flex 2
  -webkit-flex 2
  -ms-flex 2
  margin-right 50px
  flex-shrink 0

@media only screen and (max-width:breakpoint3)
  .brand-introduction-text
    width 100%
    margin-right 0px

.brand-content
  display flex
  flex-wrap wrap

@media only screen and (max-width:breakpoint3)
  .brand-content
    display block

.brand-content-main
  flex 2
  -webkit-flex 2
  -ms-flex 2
  margin-right 50px
  flex-shrink 0

@media only screen and (max-width:breakpoint3)
  .brand-content-main
    flex none
    -webkit-flex none
    -ms-flex none
    width 100%
    margin-right 0px

.brand-content-story
  flex 2
  -webkit-flex 2
  -ms-flex 2
  margin-right 50px
  flex-shrink 0

@media only screen and (max-width:breakpoint3)
  .brand-content-story
    flex none
    -webkit-flex none
    -ms-flex none
    width 100%
    margin-right 0px

.brand-content-story-empty
  flex 1
  -webkit-flex 1
  -ms-flex 1
  flex-shrink 0

.brand-content-metadata
  flex 1
  -webkit-flex 1
  -ms-flex 1
  flex-shrink 0
  h3
    flex 0 0 100%

.brand-content-labels
  display flex
  margin-top 25px
  align-items center
  flex-wrap wrap
  h4
    margin-top 0px

.labels-text
  flex 4
  -webkit-flex 4
  -ms-flex 4
  p
    margin-top 20px
    &:first-of-type
      margin-top 0px

.labels-image
  flex 1
  -webkit-flex 1
  -ms-flex 1
  margin-right 20px
  text-align center

.filter
  tagtext()
  margin-left 15px
  position relative

.filter-section
  width 100%
  display flex
  justify-content flex-end
  margin-top 40px

.filter-toggle
  width 200px
  padding 15px
  background-color grey
  cursor pointer
  position relative
  box-sizing border-box
  display flex
  justify-content space-between
  tagtext(13px,,,capitalize)
  svg
    g
      g
        fill rgba(0,0,0,1)
 
.filter-dropdown
  box-sizing border-box
  background-color white
  display none
  position absolute
  z-index 100
  width 200px
  li
    display inline 
    ul
      padding 0px 15px
      &:last-of-type
        padding-bottom 15px
  input[type=checkbox]
    width 12px
    height 12px
    margin-right 10px
    appearance none
    -moz-appearance none
    -webkit-appearance none
    -o-appearance none
    -ms-appearance none
    background-color white
    border 1px solid blue
    position relative
  input[type=submit]
    justify-content center
    align-items center
  input[type=checkbox]:checked
    &:after
      position absolute
      top 1px
      left 1px
      right 1px
      bottom 1px
      content ''
      background-image: embedurl("../../../wp-content/uploads/2016/11/×.svg", "utf8");
      background-size cover
      color red
  input
    width 200px
    height 40px
    border 0px
    background-color blue
    color white
    text-align center
    tagtext(13px,normal)


#main-index
  display flex
  flex-wrap wrap
  justify-content space-between
  margin auto
  max-width 1200px

.post
    width calc(32.5%)
    position relative
    margin 20px 0

@media only screen and (max-width:breakpoint4)
  .post
      max-width 100%
      margin 0px 0px 20px 0px

.post-thumbnail
  width 100%
  max-height 480px
  margin 0
  position relative
  overflow hidden
  background-color grey
  cursor pointer
  img
    width 102%
    height 100%
  &:hover
    background-color lightblue    
    .post-tag
      background-color white
    img
      opacity 0.8
      mix-blend-mode overlay    
      filter grayscale(100%)
    .thumbnail_labels_wrapper
      display flex
      img
        opacity 1
        mix-blend-mode normal

@media only screen and (max-width:breakpoint4)
  .post-thumbnail
    max-height auto
    img
      width 100vw
      height 100%

.post-tag
  tagtext()
  background-color white
  padding 7px
  position absolute
  bottom 0px
  a
    color black
    text-decoration none
    cursor auto

.post-header
  h2
    padding 15px 15px 20px
    background-color grey
    white-space nowrap
    text-overflow ellipsis
    overflow hidden

.thumbnail_labels_wrapper
  display none
  flex-direction column
  position absolute
  top 80px
  left calc(50% - 120px)
  tagtext(14px)
  img
    width 17px
    max-height 20px
    margin-right 15px

.thumbnail_label
  width 200px
  height 35px
  // border-radius 100px
  text-align center
  display flex
  align-items center
  justify-content center
  padding 20px
  border-bottom 1px solid rgba(0,0,0,0.1)
  &:last-of-type
    border-bottom none

.label_information_button
  input
    position fixed
    bottom 40px
    right 40px
    width 50px
    height 50px
    background-color blue
    color white
    font-size 20px
    border-radius 100px
    border 0px
    text-align center
    box-shadow 0px 0px 3px 1px rgba(0,0,0,0.3)

#label_information
  display none
  position fixed
  background-color white
  bottom 120px
  right 40px
  font-size 14px
  width 200px
  box-shadow 0px 0px 3px 1px rgba(0,0,0,0.3)
  &::before
    transform rotate(45deg)
    width 20px
    box-shadow 0px 0px 3px 1px rgba(0,0,0,0.3)
    background-color white
    height 20px
    bottom -10px
    content ""
    position absolute
    right 15px
  &::after
    background-color white
    height 15px
    bottom 0px
    left 0px
    right 0px
    content ""
    position absolute
  p
    height 40px
    padding 0px 15px
    display flex
    align-items center
    &:first-of-type
      background-color pink
      color black
      letter-spacing 0.5px
      font-weight bold
      padding-top 5px
    &:last-of-type
      margin-bottom 5px
  img
    width 20px
    margin-right 10px

.page-content
  width 600px
  margin-top 30px
  padding 20px
  bodytext()
  div
    text-align center
  img
    border-radius 100px
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    width 200px
    height 200px
    padding 10px
    box-sizing border-box
    margin-top 20px

.page-content p
  margin-top 20px

.page-content ul
  list-style-position disc outside none
  padding-left 20px

.s2
  tagtext(,sentencecase,18px)
  display block

.p1
  &:first-of-type .s2
    background-color pink
    padding 10px

.p1
  &:last-of-type .s2
    color black
    margin-bottom 30px

.about-text
  max-width 1200px
  width 100%
  bodytext(21px,28px)
  padding 20px
  margin 40px auto
  background-color pink
  text-align center
  span
    font-weight bold
