// out: style.css, sourcemap: true, compress: false
breakpoint4 = 600px
breakpoint3 = 700px
breakpoint2 = 870px
breakpoint1 = 1100px
blue = #363ED3
pink = #FFB6C9
grey = #E6E6E6

@font-face
  font-family 'HK Grotesk'
  src: url('fonts/hkgrotesk-regular-webfont.woff') format('woff'),
       url('fonts/HKGrotesk-Regular.ttf') format('truetype');
  font-style normal
  font-weight normal
  text-rendering optimizeLegibility

@font-face
  font-family 'HK Grotesk'
  src: url('fonts/hkgrotesk-bold-webfont.woff') format('woff'),
       url('fonts/HKGrotesk-Bold.ttf') format('truetype');
  font-style bold
  font-weight bold
  text-rendering optimizeLegibility

titletext(font-size=50px,line-height=45px,text-transform=uppercase)
  text-transform text-transform
  font-size font-size
  line-height line-height


bodytext()
  font-family 'HK Grotesk'
  font-size 18px
  line-height 28px

tagtext(font-size=12px,font-weight=bold,line-height=14px)
  text-transform uppercase
  font-size font-size
  line-height line-height
  letter-spacing 0.5px
  font-weight font-weight

*
  padding 0
  margin 0

body
  bodytext()
  width 100%

a, a:hover, a:visited, a:active
  color blue

h1
  titletext()

h2
  titletext(35px,35px)
  &.post-title
    a
      color black
      text-decoration none

h3
  titletext(30px,40px,auto)
  margin-top 50px

h4
  tagtext(14px)
  margin-top 25px

.button_wrapper
  width 100%
  min-width 250px
  background-color blue
  color white
  border 0
  padding 24px
  tagtext(16px,normal)
  box-shadow 0px 0px 4px 0px rgba(0,0,0,0.3)
  cursor pointer

@media only screen and (max-width:breakpoint3)
  .button_wrapper
    margin-top 20px
    width calc(100vw - 60px)

#button_shops_on_map
  margin 20px 0px 0px
  background-color #FFADC3

.button_wrapper:hover, #button_shops_on_map:hover
  transition 0.3s
  background-color black

.menu
  display flex
  width 100%
  list-style-type none

.menu-item
  margin 5px 10px

.main-navigation
  background-color blue
  justify-content center
  align-items center
  padding 5px 20px
  display flex
  a
    color white
    text-decoration none
    tagtext(14px)
    flex 1
    img
      width 125px
      margin-right auto

.site-title
    text-align center

.site-title-description
  display block
  margin-top 3px
  margin-bottom 50px
  tagtext(,normal)

.site-title-logo
  margin-top 50px
  display block
  img
    width 200px

.brand-header
  position relative
  max-height 70vh
  overflow hidden
  img
    width 100%
    height 100%

@media only screen and (max-width:breakpoint3)
  .brand-header
      max-height 90vh

.brand-title
  background-color white
  padding 15px
  position absolute
  top -110px
  left 25px
  min-width 250px
  box-sizing border-box
@media only screen and (max-width:breakpoint3)
  .brand-title
    width 100%
    position absolute
    left 0px
    top -70px
    background-color grey

#post-tag-single
  top -27px
  bottom auto
  background-color pink

.brand-wrapper
  display flex
  flex-wrap wrap
  margin auto
  max-width 1000px
  position relative
  padding 60px 25px

@media only screen and (max-width:breakpoint3)
  .brand-wrapper
    display block
    padding 40px 25px

.brand-introduction
  display flex
  flex-wrap wrap

@media only screen and (max-width:breakpoint3)
  .brand-introduction
    display block

.brand-introduction-buttons
  flex 1
  -webkit-flex 1
  -ms-flex 1
  display flex
  flex-wrap wrap
  justify-content flex-start
  align-items center

@media only screen and (max-width:breakpoint3)
  .brand-introduction-buttons
    justify-content space-between

.brand-introduction-text
  flex 2
  -webkit-flex 2
  -ms-flex 2
  margin-right 50px
  flex-shrink 0

@media only screen and (max-width:breakpoint3)
  .brand-introduction-text
    width 100%
    margin-right 0px

.brand-content
  display flex
  flex-wrap wrap

@media only screen and (max-width:breakpoint3)
  .brand-content
    display block

.brand-content-main
  flex 2
  -webkit-flex 2
  -ms-flex 2
  margin-right 50px
  flex-shrink 0

@media only screen and (max-width:breakpoint3)
  .brand-content-main
    flex none
    -webkit-flex none
    -ms-flex none
    width 100%
    margin-right 0px

.brand-content-story
  flex 2
  -webkit-flex 2
  -ms-flex 2
  margin-right 50px
  flex-shrink 0

@media only screen and (max-width:breakpoint3)
  .brand-content-story
    flex none
    -webkit-flex none
    -ms-flex none
    width 100%
    margin-right 0px

.brand-content-story-empty
  flex 1
  -webkit-flex 1
  -ms-flex 1
  flex-shrink 0

.brand-content-metadata
  flex 1
  -webkit-flex 1
  -ms-flex 1
  flex-shrink 0
  h3
    flex 0 0 100%

.brand-content-labels
  display flex
  margin-top 25px
  align-items center
  flex-wrap wrap
  h4
    margin-top 0px

.labels-text
  flex 4
  -webkit-flex 4
  -ms-flex 4
  p
    margin-top 20px
    &:first-of-type
      margin-top 0px

.labels-image
  flex 1
  -webkit-flex 1
  -ms-flex 1
  margin-right 20px
  text-align center

.filter_function
  text-align center
  tagtext()
  margin-bottom -20px
  margin-top 75px
  margin-left auto
  margin-right auto
  display flex
  align-items center
  justify-content space-between
  max-width 100%
  width 1055px
  flex-wrap wrap
  span
    flex 1
    -webkit-flex 1
    -ms-flex 1
    text-align left
    min-width 200px
  form
    flex 3
    -webkit-flex 3
    -ms-flex 3
    text-align right
    min-width 710px

@media only screen and (max-width:breakpoint1)
  .filter_function
    width 710px
    text-align left
    form
      text-align left

@media only screen and (max-width:breakpoint3)
  .filter_function
    display none

.filter_function_mobile
  display flex
  display none
  tagtext()
  width 100%

@media only screen and (max-width:breakpoint3)
  .filter_function_mobile
    display block
    text-align left
    margin-bottom 20px
    span
      padding 20px
      cursor pointer
      color blue
      text-decoration underline

  #searchandfilter_mobile
    display none
    background-color grey
    padding 10px 20px 20px 20px
    margin-top 10px

  .searchandfilter
    li
      display inline
      input[type=submit]
        margin-top 10px
    ul
      display inline

.searchandfilter
  li
    margin-right 20px
    &:last-of-type
      margin-right 0px
      padding-right 0px
  label
    border 0px
    display flex
    align-items center
    cursor pointer
  input[type=checkbox]
    width 12px
    height 12px
    margin-right 10px
    appearance none
    -moz-appearance none
    -webkit-appearance none
    -o-appearance none
    -ms-appearance none
    background-color white
    border 1px solid blue
    position relative
  input[type=checkbox]:checked
    &:after
      position absolute
      top 1px
      left 1px
      right 1px
      bottom 1px
      content ''
      background-image: embedurl("/okaporter_v2/wp-content/uploads/2016/11/×.svg", "utf8");
      background-size cover
      color red
  input
    width 100px
    height 40px
    border 0px
    background-color blue
    color white
    text-align center
    tagtext(,normal)

@media only screen and (max-width:breakpoint3)
  .searchandfilter
    input[type=checkbox]
      width 20px
      height 20px
      margin-right 20px
    input[type=checkbox]:checked
      &:after
        top 5px
        left 5px
        right 5px
        bottom 5px

#main-index
  display flex
  flex-wrap wrap
  justify-content center
  margin auto
  max-width 1200px

.post
    max-width 325px
    position relative
    margin 40px 20px

@media only screen and (max-width:breakpoint4)
  .post
      max-width 100%
      margin 0px 0px 20px 0px

.post-thumbnail
  width 100%
  max-height 440px
  margin 0
  position relative
  overflow hidden
  background-color grey

@media only screen and (max-width:breakpoint4)
  .post-thumbnail
    max-height auto
    img
      width 100vw
      height 100%

.post-tag
  tagtext()
  background-color pink
  padding 7px
  position absolute
  bottom 0px
  a
    color black
    text-decoration none
    cursor auto

.post-header
  h2
    padding 15px
    background-color grey
    white-space nowrap
    text-overflow ellipsis
    overflow hidden

.thumbnail_labels_wrapper
  display flex
  flex-direction column
  position absolute
  top 10px
  left 10px
  img
    width 17px
    max-height 20px

.thumbnail_label
  width 35px
  height 35px
  border-radius 100px
  text-align center
  display flex
  align-items center
  justify-content center
  padding 4px
  margin-bottom 10px
  box-sizing border-box
  background-color rgba(255,255,255,1)

.label_information_button
  input
    position fixed
    bottom 40px
    right 40px
    width 50px
    height 50px
    background-color blue
    color white
    font-size 20px
    border-radius 100px
    border 0px
    text-align center
    box-shadow 0px 0px 3px 1px rgba(0,0,0,0.3)

#label_information
  display none
  position fixed
  background-color white
  bottom 120px
  right 40px
  font-size 14px
  width 200px
  box-shadow 0px 0px 3px 1px rgba(0,0,0,0.3)
  &::before
    transform rotate(45deg)
    width 20px
    box-shadow 0px 0px 3px 1px rgba(0,0,0,0.3)
    background-color white
    height 20px
    bottom -10px
    content ""
    position absolute
    right 15px
  &::after
    background-color white
    height 15px
    bottom 0px
    left 0px
    right 0px
    content ""
    position absolute
  p
    height 40px
    padding 0px 15px
    display flex
    align-items center
    &:first-of-type
      background-color pink
      color black
      letter-spacing 0.5px
      font-weight bold
      padding-top 5px
    &:last-of-type
      margin-bottom 5px
  img
    width 20px
    margin-right 10px

.page-content
  width 600px
  margin-top 30px
  padding 20px
  bodytext()
  div
    text-align center
  img
    border-radius 100px
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    width 200px
    height 200px
    padding 10px
    box-sizing border-box
    margin-top 20px

.page-content p
  margin-top 20px

.page-content ul
  list-style-position disc outside none
  padding-left 20px

.s2
  tagtext(,sentencecase,18px)
  display block

.p1
  &:first-of-type .s2
    background-color pink
    padding 10px

.p1
  &:last-of-type .s2
    color black
    margin-bottom 30px

.warning
  max-width 700px
  margin auto
  font-weight bold
